
.title-box
    background: $accent
    color: $text-inverse
    padding: 2em
    margin: 0 auto
    transform: translateY(30%)
    max-width: 90%

    & h1
        font-size: 2rem
        font-weight: $font-light
        line-height: 1.15
        text-transform: uppercase
        letter-spacing: 3px

.bg-primary
    background: $main
    color: $text-inverse
    padding: 7em 2.5em

  